langchain
langchain-core
langchain-community

langchain-openai
langchain-mistralai

openai
mistralai

chromadb

sentence-transformers

pypdf
beautifulsoup4
lxml

tiktoken

python-dotenv

pandas
numpy

fastapi
uvicorn

streamlit

tqdm
requests